section 5: More DRIP architecture details should be elaborated here.

From Stu:

-arch Section 5

I disagree strongly with removal of definitive specifications here.

It is not just that "UAS registries can hold both public and private UAS
information resulting from the DRIP identifier registration process";
they MUST hold such information, or they aren't registries at all, and
don't satisfy regulator or F3411 UAS RID, much less DRIP, requirements!

It is not just that "A DRIP identifier is amenable to handling as an
Internet domain name..." and "can be registered in at least a
pseudo-domain"; it MUST be so registered, or we miss the entire point
of DRIP as stated in the charter "The working group will primarily
leverage Internet standards (including HIP, EPP, RDAP, and DNS) and
infrastructure as well as domain name registration business models" and
restated in -arch Section 1.4 "DRIP is meant to leverage existing
Internet resources (standard protocols, services, infrastructures, and
business models) to meet UAS RID and closely related needs. DRIP will
specify how to apply IETF standards, complementing [F3411-19] and other
external standards, to satisfy UAS RID requirements. This document
outlines the UAS RID architecture into which DRIP must fit and the
architecture for DRIP itself." We don't actually do that here: the
entities and interfaces already present in the UAS RID architecture
into which DRIP must fit are not even listed; of those introduced by
DRIP, the identifier is justified, but nothing is actually specified,
much less positioned in an architecture. To see what I mean, just search
the text for architectural keywords, such as "interface".

I will not comment specifically on the details of the text in Section 5,
as I fundamentally disagree with not actually specifying an architecture
in the DRIP Architecture document. I am happy to support alternatives
to DNS, EPP, RDAP, etc. _in addition_ to those protocols (indeed, I am
fond of blockchain based approaches), but leveraging proven Internet
domain name registration and lookup processes is fundamental to DRIP.

==


@cardsw How do you propose we move forward? You have made many strong points,  I agree to the point where we should elaborate about what DRIP architecture really is. But I don't see how should we make changes just from your comments.  We can rewrite this section based on what you think is right. 

Bob proposed the following to address Stu's comment: 
```

5.  DRIP Identifier Registration and Registries

   DRIP registries hold both public and private UAS information
   resulting from the DRIP identifier registration process.  Given these
   different uses, and to improve scalability, security, and simplicity
   of administration, the public and private information can be stored
   in different registries.  This section introduces the public and
   private information registries for DRIP identifiers.

5.1.  Public Information Registry
5.1.1.  Background

   The public registry provides trustable information such as
   attestations of RID ownership and registration with the HDA
   (Hierarchical HIT Domain Authority).  Optionally, pointers to the
   repositories for the HDA and RAA (Registered Assigning
   Authority)implicit in the RID can be included (e.g., for HDA and RAA
   HHIT|HI used in attestation signing operations).  This public
   information will be principally used by Observers of Broadcast RID
   messages.  Data on UAS that only use Network RID, is available via an
   Observer's Net-RID DP that would tend to directly provide all public
   registry information.  The Observer may visually "see" these Net-RID
   UAS, but they may be silent to the Observer.  The Net-RID DP is the
   only source of information based on a query for an airspace volume.

5.1.2.  DNS as the Public DRIP Identifier Registry

   A DRIP identifier is amenable to handling as an Internet domain name
   (at an arbitrary level in the hierarchy, e.g. in .ip6.arpa).  Thus
   DNS can provide all the needed public DRIP information.  A
   standardized HHIT FQDN (Fully Qualified Domain Name) can deliver the
   HI via a HIP RR (Resource Record) [RFC8005] and other public
   information (e.g., RRA and HDA ptrs, and HIP RVS (Rendezvous Servers)
   [RFC8004]).  These public information registries can use secure DNS
   transport (e.g.  DNS over TLS) to deliver public information that is
   not inherently trustable (e.g. everything other than attestations).

5.2.  Private Information Registry

5.2.1.  Background

   The private information required for DRIP identifiers is similar to
   that required for Internet domain name registration.  A DRIP
   identifier solution can leverage existing Internet resources:
   registration protocols, infrastructure, and business models, by
   fitting into an ID structure compatible with DNS names.  The HHIT
   hierarchy can provide the needed scalability and management
   structure.  It is expected that the private registry function will be
   provided by the same organizations that run a USS, and likely
   integrated with a USS.  The lookup function may be implemented by the
   Net-RID DPs.
5.2.2.  EPP and RDAP as the Private DRIP Identifier Registry

   A DRIP private information registry supports essential registry
   operations (e.g. add, delete, update, query) using interoperable open
   standard protocols.  It can accomplish this by using the Extensible
   Provisioning Protocol (EPP [RFC5730]) and the Registry Data Access
   Protocol (RDAP RFC7480] [RFC7482] [RFC7483]).  The DRIP private
   information registry in which a given UAS is registered needs to be
   findable, starting from the UAS ID, using the methods specified in
   [RFC7484].

5.2.3.  Alternative Private DRIP Registry methods

   A DRIP private information registry might be an access controlled DNS
   (e.g. via DNS over TLS).  Additionally, WebFinger [RFC7033] can be
   deployed.  These alternative methods may be used by Net-RID DP with
   specific customers.
```