clarification in Section 4

.4.  Overview of DRIP Architecture

"""
      -  Mechanisms to leverage Domain Name System (DNS: [RFC1034]),
         Extensible Provisioning Protocol (EPP [RFC5731]) and
         Registration Data Access Protocol (RDAP) ([RFC7482]) to provide
         for private (Section 5.2) and public (Section 5.1) information
         registry.

"""

I think that mentioning the DNS ecosystem  without any reference to EPP, RDAP is more appropriated.  At least the text as defined below may be more appropriated - feel free to update it as you wish. 

      -  Mechanisms to leverage Domain Name System ecosystem (including DNS: [RFC1034]),
         Extensible Provisioning Protocol (EPP [RFC5731]) and
         Registration Data Access Protocol (RDAP) ([RFC7482]) for publishing private and public information - see  (Section 5.2 and Section 5.1).


@mglt  Updated to the follolwing: 

```
Mechanisms to leverage Domain Name System (including DNS:
         [RFC1034]), Extensible Provisioning Protocol (EPP [RFC5731])
         and Registration Data Access Protocol (RDAP) ([RFC7482]) for
         publishing public and private information (see Section 5.1 and
         Section 5.2).
```

Consider this is closed. 