Dave Thaler's review

For point (3), I do still think that both I-D.ietf-drip-registries and -auth are informative. 

I suggest to make the following changes to make things clear:

(1)

Update the terminology to indicate that "DRIP registries" is used to refer to the registries in Section 4.4 of [RFC9153].

Also, update that section to introduce "Broadcast Attestations"

(2)

```
OLD: 
   DRIP registries [I-D.ietf-drip-registries] hold both public and
   private UAS information (See PRIV-1 in [RFC9153]) resulting from the
   DRIP identifier registration process.

NEW:
   DRIP registries  hold both public and
   private UAS information (See PRIV-1 in [RFC9153]) resulting from the
   DRIP identifier registration process.

```
(3)

```
OLD: 
    First is the sending
   of Broadcast Attestations (over DRIP Link Authentication Messages)
   [I-D.ietf-drip-auth] containing the relevant registration of the UA's

NEW:
    First is the sending
   of Broadcast Attestations containing the relevant registration of the UA's
```

(4)

```
OLD: 
    On-line and off-
   line receivers can use a chain of received DRIP link attestations
   from a root of trust through the RAA and the HDA to the UA, as
   described in [I-D.ietf-drip-auth] and [I-D.ietf-drip-registries].

NEW: 

   On-line and off-
   line receivers can use a chain of received DRIP link attestations
   from a root of trust through the RAA and the HDA to the UA, as
   described, e.g., in [I-D.ietf-drip-auth] and [I-D.ietf-drip-registries].
```



Dave Thaler: 

1. I found the discussion of time to be a bit lacking and would like to see it
clarified.  Specifically, section 3.2 talks about attestation including a
timestamp, though it is unclear to me what requirements this places on the UA
for having a trusted source of time, such as a local clock. Section 8.2 says
"UAs and Broadcast Remote ID communications are so constrained that current
post quantum computing cryptography is not applicable" so if UAs are that
constrained, can you really rely on them having a trusted source of time?  For
example, I know in many TEEs, a trusted source of relative time (e.g.,
monotonic counter) is not even available, and I could imagine that there are
many uses (e.g., defense) whereby a UA might want/need a TEE for attestation. 
The level of trust in time gets to the issue about how robust the architecture
is against replay attacks.

2. Somewhat related to the above, Section 5 talks about DRIP Wrapper
Authentication messages that sign over dynamically changing data "such as UA
location data".  I observe that time is not mentioned in this example, and
further observe that I don't see how UA location data alone can be robust
against replay attacks, e.g., an attacker might attempt to replay the fact that
a different UA was where real-time evidence just detects a UA of some sort
currently present.  I would like to see the replay attack prevention elaborated
on here, especially since section 8.3 says "this whole architecture is put
forth to make ... replay attacks very hard".

3. In my reading [I-D.ietf-drip-auth] and [I-D.ietf-drip-registries] are used
normatively in sections 5 and 8 since they are used by way of limitation to
those references, rather than by way of example where alternatives may be
applied. But they are listed as informative, not normative references.  I think
both should be moved to be normative unless the WG changes language like "as
described in" to "such as described in" or similar, to make them exemplary.

shuai/ See @[boucadair](https://github.com/boucadair) comments above.


In addition, a number of nits (typos, misspellings, etc.) are called out in the
marked up PDF at https://1drv.ms/b/s!Aqj-Bj9PNivcn5QXjfM63l-gFYIJhg?e=9hyYBP